:root{
    box-sizing: border-box;
}

*,
::before
::after{
    box-sizing: inherit;
}

.header{
    background-color: lightblue;
    padding: 3em;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

.title{
    margin:auto;
    font-size:40px;
    padding-bottom: 10px;
}

.search{
    padding:0.5em;
}

.footer{
    background-color: lightblue;
    padding: 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    width:100%;
    height: 17%;
    text-align: center;
}

.weatherDiv{
    background-color: salmon;
    margin-top: 210px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1em;
    display: flex;
}

.mainWeather{
    background-color: lightsalmon;
    width:15%;
    padding:2em;
}

.cityDiv{
    font-size:40px;
}

.tempDiv{
    font-size:40px;
}

.otherWeather{
    background: lightsalmon;
    padding:1em;
    margin-left: 80px;
    width:85%;
    font-size: 20px;
}